@media (max-width: 1280px)
  .section-slider
    .slider
      .slider-content
        .slide
          .slide-title
            font-size: 2em

@media (max-width: 920px)
  .section-slider
    .slider
      .slider-image
        .slider-controls
          height: 60px

      .slider-content
        .slide
          padding: 60px

  .section-about
    .about-content
      padding: 60px

@media (max-width: 750px)
  .navbar
    padding: 30px

    .navbar-toggler
      display: block

    .navbar-nav
      display: none

  .section-slider
    .slider
      .slider-image
        width: 50%

        .slider-controls
          width: 120px
          right: -120px

      .slider-content
        width: 50%

        .slide
          padding: 60px 30px

  .section-about
    .about-content
      padding: 60px 30px

@media (max-width: 480px)
  .navbar
    padding: 30px 15px

    .navbar-toggler
      margin-left: 7px

    .navbar-logo
      display: none !important

    .navbar-nav
      .nav-item
        margin: 0 7px

  .section-slider
    .slider
      display: flex
      flex-direction: column
      height: 100vh

      .slider-image
        width: 100%

        .slide
          min-height: 50vh

        .slider-controls
          right: 0

      .slider-content
        width: 100%

        .slide
          display: flex
          flex-direction: column
          justify-content: center
          padding: 15px 30px
          min-height: 50vh

          .slide-desc
            margin: 15px 0

  .section-about
    flex-direction: column

    .about-image, .about-content
      width: 100%