body
  background: #fff
  font-family: 'Spartan', sans-serif
  font-size: 12px
  margin: 0

  *
    box-sizing: border-box

a
  color: #000
  text-decoration: none

.navbar
  position: absolute
  display: flex
  align-items: center
  width: 100%
  height: auto
  top: 0
  left: 0
  right: 0
  padding: 30px 60px
  z-index: 2
  transition: background .2s ease-in-out

  &.active
    background: #fff
    justify-content: space-between

    .navbar-toggler
      .navbar-toggler-icon
        background: url('./images/icon-close.svg') center no-repeat

    .navbar-logo
      display: none

    .navbar-nav
      display: flex

      .nav-item
        .nav-link
          color: #000

          &:after
            background: #000

  .navbar-toggler
    display: none
    background: none
    border: none
    margin-right: 15px
    touch-action: manipulation

    .navbar-toggler-icon
      background: url('./images/icon-hamburger.svg') center no-repeat
      width: 25px
      height: 25px
      margin-top: -4px

  .navbar-logo
    margin-right: 60px

  .navbar-nav
    display: flex
    margin: 0
    padding: 0
    list-style: none

    .nav-item
      margin: 0 15px

      .nav-link
        position: relative
        color: #fff
        font-weight: 600

        &:after
          content: ''
          position: absolute
          width: 60%
          height: 2px
          bottom: -5px
          left: 0
          right: 0
          margin-left: auto
          margin-right: auto
          background: #fff
          opacity: 0
          transition: opacity .2s ease-in-out

      &:hover
        .nav-link:after
          opacity: 1

.section-slider
  min-height: 80vh

  .slider
    display: flex
    height: 80vh

    .slider-image
      position: relative
      width: 60%
      height: 100%

      .slider-controls
        display: flex
        flex-direction: row
        justify-content: space-between
        position: absolute
        width: 25%
        height: 80px
        bottom: 0
        right: -25%
        background: #000
        z-index: 2

        .control
          width: 100%
          height: 100%
          background: #000
          border: none
          cursor: pointer
          transition: background .2s ease-in-out

          &:hover
            background: #454545
    
    .slider-content
      background: #fff
      width: 40%
      height: 100%

      .slide
        padding: 90px 60px

        .slide-title
          font-size: 3em
          margin: 0

        .slide-desc
          font-weight: 600
          line-height: 1.6em
          margin: 30px 0
          color: #454545

        .slide-link
          text-transform: uppercase
          letter-spacing: .5em

          &:hover
            color: #454545

          .link-icon
            margin-left: 1em

    .slider-image, .slider-content
      .slider-wrapper
        width: 100%
        height: 100%
        overflow: hidden

        .slider-track
          display: flex
          flex-direction: row
          height: 100%
          transition: transform .4s ease-in-out

          .slide
            min-width: 100%
            height: 100%
            object-fit: cover

.section-about
  display: flex
  min-height: 50vh

  .about-image
    width: 25%
    object-fit: cover

  .about-content
    display: flex
    flex-direction: column
    justify-content: center
    width: 50%
    padding: 90px 60px
    background: #fff

    .about-title
      text-transform: uppercase
      letter-spacing: .5em
      margin: 0

    .about-desc
      font-weight: 600
      line-height: 1.6em
      margin-bottom: 0
      color: #454545


@import responsive