doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Room Homepage
    link(rel="stylesheet" href="./styles.min.css")
  body
    .wrapper
      section.section-slider
        .slider
          .slider-image
            .slider-controls
          .slider-content
      section.section-about
        .about-image
        .about-content
        .about-image
      
    script(src="./main.min.js")